services:
  app:
    image: vvitale087/credit-approval-ml:latest
    environment:
      - APPROVAL_THRESHOLD=0.30
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
